  
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js?{{ cacheBuster }}"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js?{{ cacheBuster }}"></script>
  <script type="text/javascript" src="../../../../lib/slick/slick.min.js?{{ cacheBuster }}"></script>
  <script type="text/javascript" src="../../../../js/scripts.js?{{ cacheBuster }}"></script>
  <script type="text/javascript" src="../../../../js/components/block-banner.js?{{ cacheBuster }}"></script>
  </body>
</html>
