<div class="block-banner">
  <div class="block-banner__background">
    {{ blockBanner.bgImage }}
  </div>
  <div class="block-banner__wrap container">
      <div class="block-banner__left">
        <h1 class="block-banner__title">
          {{ blockBanner.title }}
        </h1>
        <div class="block-banner__description text--large text--dark-gray font--gilroy">
          {{ blockBanner.description }}
        </div>
        <div class="block-banner__form">
          {{ blockBanner.form }}
        </div>
        <div class="block-banner__link font--gilroy">
          <span class="tag text--bold text--very-small">NEW</span>
          {{ blockBanner.link }}
        </div>
      </div>
      <div class="block-banner__right">
        {{ blockBanner.sliders }}
    </div>
  </div>
</div>
