<footer class="footer link-wrap--text">
  <div class="container container--large">
    <div class="footer-top clearfix">
      <div class="footer-top__item">
        {{ footerTop.one }}
      </div>
      <div class="footer-top__item hidden--mobile hidden--tablet">
        {{ footerTop.two }}
      </div>
      <div class="footer-top__item hidden--mobile hidden--tablet">
        {{ footerTop.three }}
      </div>
      <div class="footer-top__item hidden--mobile hidden--tablet">
        {{ footerTop.four }}
      </div>
      <div class="footer-top__item hidden--mobile hidden--tablet">
        {{ footerTop.five }}
      </div>
      <div class="footer-top__item hidden--mobile hidden--tablet">
        {{ footerTop.six }}
      </div>
    </div>
    <div class="footer-bottom text--very-small font--gilroy">
      <div class="footer-bottom__helper">
        {{ footerBottom.left }}
      </div>
      <div class="footer-bottom__copyright">
        {{ footerBottom.right }}
      </div>
    </div>
  </div>
</footer>
